@inherits LayoutComponentBase

<div class="flex min-h-screen">
    <aside class="fixed top-0 left-0 h-screen w-[220px] bg-white border-r border-gray-200 z-10 flex flex-col">
        <NavMenu />
    </aside>

    <main class="ml-[220px] min-h-screen bg-background p-8">
        @Body
    </main>
</div>
